NSO_DB_HOST=mariadb
NSO_DB_PORT=3306
NSO_DB_NAME=nso
NSO_DB_USER=nso_user
NSO_DB_PASSWORD=change_this_db_password
MARIADB_ROOT_PASSWORD=change_this_root_password
MONGO_ROOT_USERNAME=root
MONGO_ROOT_PASSWORD=change_this_mongo_root_password
NSO_MONGODB_HOST=mongo
NSO_MONGODB_PORT=27017
NSO_MONGODB_NAME=admin
NSO_MONGODB_USER=root
NSO_MONGODB_PASSWORD=change_this_mongo_root_password
NSO_SERVER_PORT=14444
NSO_WEBSOCKET_ENABLED=false
NSO_WEBSOCKET_HOST=
NSO_WEBSOCKET_PORT=0
JAVA_OPTS=-server -Xms2G -Xmx4G -Dfile.encoding=UTF-8 -Djava.awt.headless=true
