/logs
/target
.env.aapanel
*.DS_Store
*.DS_Store?
/config.properties
/build
/.vscode
/target
/nbactions.xml
/nb-configuration.xml
/.project
/.classpath
*.class
/.idea
*.md
*.sql
*.txt
/.env.aapanel.example
/Web/register.html
/Web/register.php
/Web/success.php
